body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    color: #a52a2a;
    text-align: center;
}

h3{
    text-align: center;
    color: black;

}

h4{
    text-align: center;

}

p{
    color: #a52a2a;
    text-align: center;
    line-height: 30px;
}

a{
    color:rgb(0, 255, 0);
    text-decoration: none;
}

button{
    background-color:#ffffff; 
    color: blueviolet;
}

textarea{
    color:#000000
}

span{
    text-decoration: underline;
}