h1{
    border: 2px solid black;
    width: 33.33%;
    font-family: poppins;
}

#outer{
    width: 400px;
    height: 400px;
    background-color: beige;
    font-family: poppins;
    border: 2px solid black;
    margin: 30px;
    font-size: 10px;
}

#inner{
    width: 100px;
    height: 100px;
    background-color: aqua;
    font-family: poppins;
    font-size: 1.5em;
    padding: 2em;
    margin: 10%;
}

button{
    border: 3px solid burlywood;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    padding-left: 1em;
    padding-right: 1em;
}